<div class="example-container mat-elevation-z8">
  <div class="row">
    <button mat-icon-button (click)="newAnimal.openDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Navn </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Legs Column -->
    <ng-container matColumnDef="legs">
      <mat-header-cell *matHeaderCellDef> Ben </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.legs}} </mat-cell>
    </ng-container>

    <!-- Legs Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="newAnimal.openDialog(element, element.ref.path)">
          <mat-icon>mode_edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

