<form (ngSubmit)="newAnimal()" #addShortForm="ngForm" name="addNew">
  <mat-form-field>
    <input matInput name="name" [(ngModel)]="data.name" placeholder="Navn" required="required">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="legs" [(ngModel)]="data.legs" placeholder="Ben"  required="required">
  </mat-form-field>
  <button [class.full]="data.path === undefined" [class.half]="data.path" [disabled]="disabled" type="submit" mat-raised-button color="primary">{{ data.path ? 'Gem' : 'Tilføj' }}</button>
  <button type="button" class="half" *ngIf="data.path" (click)="deleteAnimal()" mat-raised-button color="warn">Slet</button>
</form>
